.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 12px;
}

.content h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: #2a2a2a;
}

.content article {
  margin-bottom: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0;
}

.content h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1rem;
  line-height: 1.6;
}

.content ul {
  padding-left: 1.2rem;
}

.content ul li {
  margin-bottom: 0.5rem;
  list-style-type: disc;
  z-index: 0;
}

article h2{
    color: white;
}

article{
    background: url(Images/Background3.jpg);
    padding: 15px;
    color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgb(175, 172, 172);
    scroll-margin-top: 100px;
}

#spec1{
    color: green;
    text-decoration: none;
}

#spec2{
    color: green;
    padding: 15px;
    font-weight: bold;
}