@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

#pc-nav, #mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* mare cât să stea mereu deasupra */
  background-color: white; /* sau culoarea navbarului tău */
}

#mobile-drop{
    z-index: 1001; /* mare cât să stea mereu deasupra */
}

#all-pc-nav, #pc-nav{
    background-color: rgb(17, 128, 19, 0.85);
    filter: blur();
    width: 100%;
    position: fixed;
}

#all-mobile-nav, #mobile-nav{
    background-color: rgb(17, 128, 19, 0.85);
    width: 100%;
    position: fixed;
    display: none;
}

#all-pc-navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 999;
}

#all-mobile-navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    padding-left: 70px;
    padding-right: 70px;
    z-index: 999;
}

#logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#logo{
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

#inv-nav{
    height: 60px;
    width: 100%;
}

#big-title{
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
    color: white;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 999;
    margin: 0px;
}

li{
    list-style: none;
}

.nav-btn{
    padding: 10px 10px;
    font-size: 20px;
    font-weight:bold;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
}

.nav-btn:hover{
    background-color: rgb(16, 148, 19);

    border-radius: 5px;
    transition: 0.3s;
}

#drop1{
    display: block;
    top: 55px;
    left: -25px;
    position: absolute;
    background-color: rgb(17, 128, 19, 0.85);
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    z-index: 10;
    color: white;
    font-weight: bold;
    text-align: center;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    pointer-events: none;
} 

#drop1.active {
    max-height: 500px; 
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#drop2{
    display: block;
    top: 55px;
    left: -50px;
    position: absolute;
    background-color: rgb(17, 128, 19, 0.85);
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    z-index: 10;
    color: white;
    font-weight: bold;
    text-align: center;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    pointer-events: none;
}

#drop2 li{
    padding-left: 30px;
    padding-right: 30px;
}

#drop2.active {
    max-height: 500px; 
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#drop3{
    display: block;
    top: 55px;
    left: 22px;
    position: absolute;
    background-color: rgb(17, 128, 19, 0.85);
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    z-index: 10;
    color: white;
    font-weight: bold;
    text-align: center;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    pointer-events: none;
}  

#drop3.active {
    max-height: 500px; 
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#drop3 li{
    padding-left: 30px;
    padding-right: 30px;
}

.drop li {
    padding: 12px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.drop li:hover{
    background-color: rgb(16, 148, 19);
    transition: 0.3s;
}

li{
    position: relative;
}

/*****************************************/

main{
    min-height: 100vh;
    width: 100%;
    background: url(Images/Background3.jpg), url(Images/bg-bottom-hero.png);
    background-repeat: no-repeat;
    background-position: center;
}

.hero{
    min-height: 100vh;
    width: 100%;
    background: url(Images/bg-bottom-hero.png);
    background-position: center bottom -1px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero .row{
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 60px;
    gap: 30px;
    justify-content: center;
}

.column{
    width: 50%;
}

#container-img{
    display: flex;
    justify-content: center;
}

#titlee{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

#first-text{
    color: white;
    font-size: 20px;
}

.hero_img{
    width: 80%;
}

@media(max-width: 1024px){
    .hero_img{
        width: 100%;
    }
}

#button{
    display: flex;
    gap: 30px;
}

.btn{
    padding: 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
}

#btn1{
    color: green;
}

#btn2{
    border: 3px solid white;
    background-color: transparent;
    color: white;
    transition: 0.5s;
}

#btn2:hover{
    transition: 0.5s;
    background-color: white;
    color: green;
}

.lucru{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: green;
}

#titlee-container{
    max-width: 700px;
}

/**************   Menu   *****************/

.menu{
    width: 45px;
    filter: invert(1);
}

#mobile-drop{
    height: 100vh;
    width: 300px;
    background-color: rgba(17, 128, 19, 0.95);
    position: fixed;
    left: -300px;
    transition: 0.5s;
}

#mobile-title{
    background-color: rgb(17, 128, 19);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
}

.ndrop{
    color: white;
}

#ndrop1 {
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    max-height: 0px;
    transition: all 1s ease;
    pointer-events: none;
}

#ndrop2 {
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    max-height: 0px;
    transition: all 1s ease;
    pointer-events: none;
}

#ndrop3 {
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    max-height: 0px;
    transition: all 1s ease;
    pointer-events: none;
}

#ndrop1.show {
    max-height: 500px; 
    opacity: 1;
    pointer-events: auto;
}

#ndrop2.show {
    max-height: 500px; 
    opacity: 1;
    pointer-events: auto;
}

#ndrop3.show {
    max-height: 500px; 
    opacity: 1;
    pointer-events: auto;
}

.ndrop{ 
    gap: 4px;
}

#mobile-title{
        height: 60px;
        width: 100%;
        color: rgb(17, 128, 19);
    }

/*****************************************/

#acasadrop, #nav-btn4, #nav-btn5, #nav-btn6, #contact{
    display: none;
}

#open1{
    display: block;
}

@media ( min-width: 995px){
    #open1{
        display: none;
    }
}

@media(max-width: 995px){
    #nav-btn3{
        display: none;
    }
    #nav-btn6{
        display: block;
    }
}

@media(max-width: 850px){
    #nav-btn2{
        display: none;
    }
    #nav-btn1{
        position: relative;
        left: 20px;
    }
    #nav-btn5{
        display: block;
    }
}

@media ( width < 750px){
    #pc-nav{
        display: none;
    }
    #mobile-nav{
        display: block;
    }
    #acasadrop, #nav-btn4, #nav-btn5, #nav-btn6, #contact{
    display: block;
}

}

@media ( width < 800px){
    .row{
        flex-direction: column;
    }
    .column{
        width: 100%;
    }
    .hero{
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 60px;
    }
}

@media ( width < 640px){
    .column{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .btn{
        font-size: 15px;
    }
    .hero{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media ( width < 535px){
    #titlee{
        font-size: 25px;
    }

    #first-text{
        font-size: 18px;
    }

    .hero{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media ( width < 480px){
    #button{
        flex-direction: column;
        gap: 10px;
    }
    
    .hero{
        padding-top: 60px;
    }

    #all-mobile-navbar{
        padding-left: 30px;
        padding-right: 30px;
    }
    .lucru{
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media ( width < 445px){
    #titlee{
        font-size: 22px;
    }

    #first-text{
        font-size: 17px;
    }
}

/*************** SECTION ****************/

#elements{
    height: auto;
    width: 100%;
    border: none;
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.element{
    border: 3px solid green;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.element-title{
    font-size: 30px;
    font-weight: bold;
    color: green;
    margin-top: 0px;
}

.element-describe{
    color: white;
}

.element-img{
    width: 90%;
}

.img-container{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 800px){
    #element1{
        flex-direction: column;
    }
    #element2{
        flex-direction: column-reverse;
    }
    .element{
        padding: 20px;
        gap: 15px;
    }
}

@media(max-width: 470px){
    .img-container{
        width: 100%;
    }
    .element-img{
        width: 100%;
    }
    .element{
        border: none;
        border-radius: 0px;
        border-top: 3px solid green;
        border-bottom: 3px solid green;
    }
    #elements{
        gap: 0px;
        padding: 10px;
    }

    .background p{
        margin: 5px;
    }
    .container-s{
        width: 100%;
    }
}

.background{
    background: url(Images/div-back.jpeg);
    padding: 15px;
    background-position: cennter;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(196, 190, 190);
}

/************ SERIVCES *************/

.serv-svg{
    width: 100px;
    color: rgb(3, 116, 3);
}

.cont p{
    color: rgb(3, 116, 3);
    font-weight: bold;
    margin: 0px;
}

#elements2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 22px;
}

.container-s{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid green;
    border-radius: 15px;
}

.serv{
    font-size: 25px;
    font-weight: bold;
    color: green;
    text-align: center;
    margin-bottom: 7px;
}

.el-s{
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
    padding: 10px;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: none;
    border-radius: 15px;
    min-width: 180px;
    padding: 0px;
}

#flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

@media(max-width: 900px){
    #flex{
        flex-direction: column;
    }
}

@media(max-width: 500px){
    .cont p{
        font-size: 14px;
    }
    .serv-svg{
        width: 80px;
    }
    .el-s{
        gap: 10px;
    }
    .cont{
        min-width: 0px;
        width: 150px;
    }
    #elements2{
        gap: 10px;
    }
    #flex{
        gap: 10px;
    }
}

/********************  WHY TO PICK US?  *********************/

.alg{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.de-ce-noi{
    border-top: 3px solid green;
    max-width: 1000px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.motiv-boxuri {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 20px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  background: url(Images/Background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 15px 15px 15px rgb(219, 217, 217);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  height: 170px;
}
#sp{
    text-align: center;
}

h3, .card p{
    color: #fafafa;
}

h2{
    color: green;
}

@media(max-width: 770px){
    .card{
        width: 100%;
    }
}

@media(max-width: 500px){
    #flex{
        width: 100%;
    }
    .container-s{
        width: 100%;
    }
    .el-s{
        gap: 0px;
    }
}

@media(max-width: 372px){
    .cont{
        width: 125px;
    }
}

@media(max-width: 900px){
    #flex{
        gap: 40px;
    }
}

/*****************  FOOTER  *******************/

#cont-footer{
    position: bottom;
    background: url(Images/Background3.jpg);
    color: white;
    text-align: center;
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer-flex{
    width: 100%;
    justify-content: center;
}

.flexx a{
    color: white;
    text-decoration: none;
}

#spec{
    text-decoration: underline;
}

#eu{
    display: flex; 
}

#yt{
    top: 100px;
    width: 45px;
}

#ytc{
    margin-top: 10px;
    cursor: pointer;
}

@media(max-width: 500px){
    #flex{
        gap: 10px;
    }
}

/*****************  CONTABILITATE  *********************/
